.App {
    /* text-align: center; */

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    text-align: center;
}

input {
    text-align: center;
}

button {
    height: 50px;
    /* width: 100%; */
}
