.main-container {
    width: 800px;
    height: 600px;
    background-color: #fff;
    border-radius: 12px;
    padding: 60px;

    position: relative;

    .main-box {
        .todo-card-container {
            .todo-card-header {
                .swipe-icon {
                    float: right;
                    .btn-arrow {
                        margin-right: 5px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }

            .todo-card-content {
                //todo item 속성
                height: 320px;
                overflow-y: overlay;

                .todo-item-box {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;
                    padding: 10px 5px;
                    padding-right: 25px;

                    .todo-content {
                        width: 100%;
                        margin-left: 10px;
                        font-size: 18px;

                        .todo-input-text-field {
                        }

                        &:hover {
                            // border: 1px solid rgb(240, 245, 255);
                            // border-radius: 8px;
                            background-color: rgba(240, 245, 255, 0.6);
                        }
                    }

                    .delete-icon {
                        margin-left: 5px;
                    }
                }
            }

            .todo-card-interface {
                position: absolute;
                left: 50%;
                bottom: 0;

                transform: translateX(-50%) translateY(50%);
            }
        }
    }
}

.calendar-container {
    width: 1000px;
    height: 600px;
    background-color: #fff;
    padding: 40px;
    overflow: hidden;

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        button {
            margin-left: 7px;
        }
    }
    .calendar-form-body {
        display: flex;
        justify-content: center;
        // width: 400px;
    }

    .calendar-card-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .calendar-item {
            // padding: 20px 40px;
            padding-top: 0;
            padding-bottom: 20px;
            width: 250px;
            border-top: 8px solid red;
            box-shadow: 0 2px 3px 0px #ddd;
            margin-bottom: 20px;

            .util-area {
                height: 20px;
                text-align: right;

                font-size: 16px;

                & > * {
                    margin-right: 5px;
                }
            }

            .title {
                font-size: 38px;
                text-align: center;
            }
        }
    }
}
